$HUGE: #f0f;
$HUGE_color: #f0f;
$HUGE_background_color: #fff;
$HUGE_padding: 5px;

$brown_dk: #1b0e0b;
$ups_brown: #351c15;
$brown_s4: #46322d;
$brown_s3: #573616;
$brown_s1: #795a40;

$sand_s2: #c3a282;
$ups_sand: #e1c8b0;
$sand_60: #edded0;
$sand_40: #f3e9df;

$ups_gold: #ffb500;
$gold_60: #ffd366;
$gold_40: #ffe199;

$white: #ffe199;
$black: #000;
$red: #c91a13;

$black_s4: #242424;
$black_s3: #404040;
$black_s1: #6e6e6e;

$stone_s3: #bebebe;
$ups_stone: #d9d9d6;
$stone_60: #e8e8e6;
$stone_40: #f0f0ef;

$grass_s3: #357715;
$ups_grass: #64a70b;
$grass_60: #a2ca6d;

$water_s3: #008369;
$ups_water: #40c1ac;
$water_60: #8cdacd;

$sky_s3: #187ca2;
$ups_sky: #009cbd;
$sky_60: #66c4d7;

$sun_s3: #e45321;
$ups_sun: #f68b20;
$sun_60: #f4b966; 
