body, html {
    height: auto;
    color: #fff;
    background: #1e5799;
    background: #ddd;
    font-family: 'Georgia', sans-serif;
    font-size: 100px;
}

.deleteThisPadding {
    padding: 0;
    /* THIS IS JUST TO POSITION THE FOOTER IN THE MIDDLE */
    /*margin-top: 50px;*/
    /* THIS IS JUST TO POSITION THE FOOTER IN THE MIDDLE */
}

.baseFooter {
    min-height: 700px;
    padding-top: 25px;
}

.leftSideFooter {
    color: #fff;
    background: #4a4a4a;
}

.rightSideFooter {
    color: #fff;
    background: #3d0c0c;
}

.marginTop50 {
    margin-top: 50px;
}

.littleYellowLine {
    width: 100%;
    height: 1px;
    background: #ac7f14;
}

.littleWhiteLine {
    width: 100%;
    height: 1px;
    background: #fff;
}

.footerList {
    padding: 0px;
    font-family: Arial, monospace;
}

.footerList li {
    list-style: none;
    padding-top: 25px;
}

.footerListWithWhiteLine {
    padding: 0px;
    font-family: Arial, monospace;
}

.footerListWithWhiteLine li {
    list-style: none;
}

.floatRight {
    float: right;
}

h6 {
    margin-top: 10px;
    font-size: 1.1em;
}

.companyInfo {
    margin-top: 50px;
}

.fontFamilyChange {
    font-family: Arial, monospace;
}

.leSpacer {
    padding-top: 40px;
}

.aLink:hover {
    color: #00A3E0;
    background-color: : #00A3E0;
}

.aLink:link {
    color: #fff;
}

.aLink:visited {
    color: #ddd;
}

.aLink:hover {
    color: #fff222;
}

.aLink:active {
    color: #bbb;
}

a:not(.md-button):hover {
    color: #00A3E0;
    text-decoration: none;
}
