
<link rel="stylesheet" href="../css/ups.modules.css">
<link rel="stylesheet" href="../css/ups.styles.css">
<link rel="stylesheet" href="../css/ups.vender.css">
<link rel="stylesheet" href="../css/ups.widgets.css">
<link rel="stylesheet" href="../css/inject.css">
<div class="container-fluid">

    <div class="col-md-4 deleteThisPadding leftSideFooter baseFooter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <h6>CUSTOMER SERVICE</h6>
            <div class="col-md-6 littleYellowLine"></div>
            <ul class="footerList">
                <li>
                    <a class="aLink" href="#" target="_blank">Help Center</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Get Started with UPS</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Change a Delivery</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Delivery Issues</a>
                </li>
            </ul>
        </div>

        <div class="col-md-12">
            <div class="leSpacer"></div>
        </div>

        <div class="col-md-12 deleteThisPadding">
            <div class="col-md-12 littleWhiteLine"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <ul class="footerListWithWhiteLine">
                    <li>
                        <a class="aLink" href="#" target="_blank">Live Chat</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 littleWhiteLine"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <ul class="footerListWithWhiteLine">
                    <li>
                        <a class="aLink" href="#" target="_blank">Email Us</a>
                    <li>
                </ul>
            </div>
            <div class="col-md-12 littleWhiteLine"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <ul class="footerListWithWhiteLine">
                    <li>
                        <a class="aLink" href="#" target="_blank">Call Us</a>
                    <li>
                </ul>
            </div>
            <div class="col-md-12 littleWhiteLine"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <ul class="footerListWithWhiteLine">
                    <li>
                        <a class="aLink" href="#" target="_blank">See All Contact Issues</a>
                    <li>
                </ul>
            </div>
            <div class="col-md-12 littleWhiteLine"></div>
        </div>
    </div>

<div class="col-md-8 deleteThisPadding rightSideFooter baseFooter">
        <div class="col-md-3">
            <h6>THIS SITE</h6>
            <div class="col-md-6 littleYellowLine"></div>
            <ul class="footerList">
                <li>
                    <a class="aLink" href="#" target="_blank">Tracking</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Shipping</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Services</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Location</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">My Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6>OTHER UPS SITES</h6>
            <div class="col-md-6 littleYellowLine"></div>
            <ul class="footerList">
                <li>
                    <a class="aLink" href="#" target="_blank">UPS Store</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">UPS Capital</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">United Problem Solvers</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">See All</a>
                </li>
            </ul>
            <h6 class="companyInfo">COMPANY INFO</h6>
            <div class="col-md-6 littleYellowLine"></div>
            <ul class="footerList">
                <li>
                    <a class="aLink" href="#" target="_blank">About UPS</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Media Relations</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Investor Relations</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Careers</a>
                </li>
                <li>
                    <a class="aLink" href="#" target="_blank">Sustainability &amp; Community Involvement</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6>CONNECT WITH IS</h6>
            <div class="col-md-6 littleYellowLine"></div>
            <ul class="footerList">
                <li>
                    <a class="aLink" href="#" target="_blank">Facebook</a>
                </a>
            </li>
            <li>
                <a class="aLink" href="#" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a class="aLink" href="#" target="_blank">Youtube</a>
            </li>
            <li>
                <a class="aLink" href="#" target="_blank">Longitudes</a>
            </li>
            <li>
                <a class="aLink" href="#" target="_blank">UPS Compass</a>
            </li>
        </ul>
    </div>

    <div class="col-md-12 marginTop50 fontFamilyChange">
        <a class="aLink" href="#" target="_blank">Global Home</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Site Map</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Protect Against Fraud</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Service Terms and Conditions</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Website Terms of Use</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Privacy Notice</a>
        &nbsp;|&nbsp;
        <a class="aLink" href="#" target="_blank">Your California Privacy Rights</a>
    </div>

    <div class="col-md-12 fontFamilyChange">
        Copyright &copy; 1994-2017 United Parcel Service of America, Inc. All rights reserved.
    </div>

</div>
</div>
