<link rel="stylesheet" href="../css/inject.css">
<link rel="stylesheet" href="../css/ups.modules.css">
<link rel="stylesheet" href="../css/ups.styles.css">
<link rel="stylesheet" href="../css/ups.vender.css">
<link rel="stylesheet" href="../css/ups.widgets.css">

<!-- M02 Footer -->
<!-- For full documentation app/source/partials/modules/M02_footer.hbs -->

<footer id="ups-footerWrap" class="ups-wrap">
    <div id="ups-footer" class="ups-wrap_inner">
        <div class="ups-footer_colsCont ups-container">

            <div class="ups-footer_custserv col-md-3">
                <!-- CUSTOMER SERVICE -->
                <div class="ups-footer_links">
                    <h2 class="ups-footer_toggle" id="ups-footer_custServe" aria-controls="ups-footer_custServeLinks ups-footer_custServeConacts">
                        <span class="icon" aria-hidden="true"></span>Customer Service
                        <button class="ups-med_show">
                            <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                            <span class="ups-readerTxt" data-lang-show="Expand Customer Service" data-lang-hide="Collapse Customer Service">Expand Customer Service</span>
                        </button>
                    </h2>
                    <ul class="ups-footer_expand" aria-labelledby="ups-footer_custServe" id="ups-footer_custServeLinks">

                        <li>
                            <a href="#ft_help-center">
                                Help Center
                            </a>
                        </li>

                        <li>
                            <a href="#ft_get-started">
                                Get Started with UPS
                            </a>
                        </li>

                        <li>
                            <a href="#ft_change-del">
                                Change a Delivery
                            </a>
                        </li>

                        <li>
                            <a href="#ft_del-issue">Delivery Issues</a>
                        </li> 

                    </ul>
                    <ul class="ups-footer_contact ups-footer_expand" aria-labelledby="ups-footer_custServe" id="ups-footer_custServeConacts">

                        <li>
                            <a href="/index.html#ft_chat" target="_blank">
                                <span class="icon ups-icon-conversation" aria-hidden="true"></span>Live Chat
                                <span class="ups-link_newwindow" aria-hidden="true"></span>
                                <span class="ups-readerTxt">Open the link in a new window</span>
                            </a>
                        </li>

                        <li>
                            <a href="/index.html#ft_email" target="_blank">
                                <span class="icon ups-icon-email" aria-hidden="true"></span>Email Us
                                <span class="ups-link_newwindow" aria-hidden="true"></span>
                                <span class="ups-readerTxt">Open the link in a new window</span>
                            </a>
                        </li>

                        <li>
                            <a href="/index.html#ft_phone" target="_blank">
                                <span class="icon ups-icon-phone" aria-hidden="true"></span>Call Us
                                <span class="ups-link_newwindow" aria-hidden="true"></span>
                                <span class="ups-readerTxt">Open the link in a new window</span>
                            </a>
                        </li>

                        <li>
                            <a href="/index.html#ft_contact-opt">
                                <span class="icon ups-icon-locator" aria-hidden="true"></span>See All Contact Options
                                <span class="ups-link_newwindow" aria-hidden="true"></span>
                                <span class="ups-readerTxt">Open the link in a new window</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div> <!-- @end .ups-footer_col -->

            <div class="ups-footer_col col-md-3 ups-right-md">
                <!-- CONNECT WITH US -->
                <div class="ups-footer_links">
                    <h2 class="ups-footer_toggle" id="ups-footer_connect" aria-controls="ups-footer_connectLinks">
                        Connect with Us
                        <button class="ups-med_show">
                            <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                            <span class="ups-readerTxt" data-lang-show="Expand Connect with Us" data-lang-hide="Collapse Connect with Us">Expand Connect with Us</span>
                        </button>
                    </h2>
                    <ul class="ups-footer_expand" aria-labelledby="ups-footer_connect" id="ups-footer_connectLinks">

                        <li>
                            <a href="#ft_facebook" class=" ups-footer_social-facebook" target="_blank">
                            Facebook

                            <span class="ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>

                        </a>
                    </li>

                        <li>
                            <a href="#ft_twitter" class=" ups-footer_social-twitter" target="_blank">
                            Twitter

                            <span class="ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>

                        </a>
                    </li>

                        <li>
                            <a href="#ft_linkedin" class=" ups-footer_social-linkedin" target="_blank">
                            LinkedIn

                            <span class="ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>

                        </a>
                    </li>

                        <li>
                            <a href="#ft_youtube" class=" ups-footer_social-youtube" target="_blank">
                            YouTube

                            <span class="ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>

                        </a>
                    </li>

                        <li>
                            <a href="#ft_longitudes" class="" >
                            Longitudes

                        </a>
                    </li>

                        <li>
                            <a href="#ft_compass" class="" >
                            UPS Compass

                        </a>
                    </li>

                    </ul>
                </div>
            </div> <!-- @end .ups-footer_col -->

            <div class="ups-footer_col col-md-3 ups-right-md">
                <!-- OTHER UPS SITES -->
                <div class="ups-footer_sites ups-footer_links">
                    <h2 class="ups-footer_toggle" id="ups-footer_otherSites" aria-controls="ups-footer_otherSitesLinks">
                        Other UPS Sites
                        <button class="ups-med_show">
                            <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                            <span class="ups-readerTxt" data-lang-show="Expand Other UPS Sites" data-lang-hide="Collapse Other UPS Sites">Expand Other UPS Sites</span>
                        </button>
                    </h2>
                    <ul class="ups-footer_expand" aria-labelledby="ups-footer_otherSites" id="ups-footer_otherSitesLinks">

                        <li>
                        <a href="/index.html#ft_ups-store" class="" target="_blank">
                            UPS Store
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>
                        </a>
                    </li>

                        <li>
                        <a href="/index.html#ft_ups-capital" class="" target="_blank">
                            UPS Capital
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>
                        </a>
                    </li>

                        <li>
                        <a href="/index.html#ft_problem-solvers" class="" target="_blank">
                            United Problem Solvers
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>
                        </a>
                    </li>

                        <li>
                        <a href="/index.html#ft_sites-all" class=" ups-more">
                            See All
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            <span class="ups-readerTxt">Open the link in a new window</span>
                        </a>
                    </li>

                    </ul>
                </div>

                <!-- COMPANY INFO -->
                <div class="ups-footer_info ups-footer_links">
                    <h2 class="ups-footer_toggle" id="ups-footer_companyInfo" aria-controls="ups-footer_companyInfoLinks">
                        Company Info
                        <button class="ups-med_show">
                            <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                            <span class="ups-readerTxt" data-lang-show="Expand Company Info" data-lang-hide="Collapse Company Info">Expand Company Info</span>
                        </button>
                    </h2>
                    <ul class="ups-footer_expand" aria-labelledby="ups-footer_companyInfo" id="ups-footer_companyInfoLinks">

                        <li>
                        <a href="#ft_about" class="">
                            About UPS
                        </a>
                    </li>

                        <li>
                        <a href="#ft_media" class="">
                            Media Relations
                        </a>
                    </li>

                        <li>
                        <a href="#ft_investor" class="">
                            Investor Relations
                        </a>
                    </li>

                        <li>
                        <a href="#ft_careers" class="">
                            Careers
                        </a>
                    </li>

                        <li>
                        <a href="#ft_sustainability" class="">
                            Sustainability &amp; Community Involvement
                        </a>
                    </li>

                    </ul>
                </div>

            </div> <!-- @end .ups-footer_col -->

            <div class="ups-footer_col col-md-3 ups-right-md">
                <!-- THIS SITE -->
                <div class="ups-footer_links">
                    <h2 class="ups-footer_toggle" id="ups-footer_thisSite" aria-controls="ups-footer_thisSiteLinks">
                        This Site
                        <button class="ups-med_show">
                            <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                            <span class="ups-readerTxt" data-lang-show="Expand This Site" data-lang-hide="Collapse This Site">Expand This Site</span>
                        </button>
                    </h2>
                    <ul class="ups-footer_expand" aria-labelledby="ups-footer_thisSite" id="ups-footer_thisSiteLinks">

                        <li>
                        <a href="#ft_track" class="">
                            Tracking
                        </a>
                    </li>

                        <li>
                        <a href="#ft_ship" class="">
                            Shipping
                        </a>
                    </li>

                        <li>
                        <a href="#ft_pands" class="">
                            Services
                        </a>
                    </li>

                        <li>
                        <a href="#ft_locations" class="">
                            Locations
                        </a>
                    </li>

                        <li>
                        <a href="#ft_profile" class="">
                            My Profile
                        </a>
                    </li>

                    </ul>
                </div>
            </div> <!-- @end .ups-footer_col -->
        </div> <!-- @end .ups-footer_colsCont -->

        <div class="ups-footer_legal">
            <!-- LEGAL -->
            <div class="ups-footer_links">
                <h2 class="ups-med_show ups-footer_toggle" id="ups-footer_legal" aria-controls="ups-footer_legalLinks">
                    Legal
                    <button class="ups-med_show">
                        <span class="ups-icon-plus ups-iconAlone" aria-hidden="true"></span>
                        <span class="ups-readerTxt" data-lang-show="Expand Legal" data-lang-hide="Collapse Legal">Expand Legal</span>
                    </button>
                </h2>
                <ul class="ups-footer_expand" aria-labelledby="ups-footer_legal" id="ups-footer_legalLinks">

                    <li>
                        <a href="#ft_legal-global_home" class="">
                            Global Home
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-site_map" class="">
                            Site Map
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-fraud" class="">
                            Protect Against Fraud
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-terms_and_conditions" class="">
                            Service Terms and Conditions
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-website_terms" class="">
                            Website Terms of Use
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-privacy" class="">
                            Privacy Notice
                        </a>
                    </li>

                    <li>
                        <a href="#ft_legal-california_privacy" class="">
                            Your California Privacy Rights
                        </a>
                    </li>

                </ul>

                <p class="ups-footer_disclaimer">Copyright &copy; 1994-2017 United Parcel Service of America, Inc. All rights reserved.</p>
            </div>
        </div> <!-- @end .ups-footer_legal -->

    </div> <!-- @end #ups-footer -->
</footer> <!-- @end #ups-footerWrap -->
